*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*outline: 1px solid red*/;
}

body {
    font-family: "Open Sans", serif;
}

nav{
    padding: 1rem;
    margin-top: 1rem;
    /*margin-bottom: 2rem;*/
    z-index: 2;
    background-color: white;
    top: 0;
    position: sticky;
}

.nav-logo{
    display: inline;
    margin-left: 5%;
}

.right-nav{
    list-style-type: none;
    font-size: 1rem;
    display: inline-block;
    margin-right: 7rem;
    float: right;
}

.nav{
    display: inline;
    padding: 1rem;
    cursor: pointer;
}

.tuitt-button{
    color: white;
    font-weight: bold;
    background-color: #c2195b;
    font-size: 1rem;
    width: 140px;
    border-style: none;
    border-radius: 25px;
    padding: 0.75rem;
    cursor: pointer;
}

#bg-image{
    min-height: 50vh;
    background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-attachment: scroll;
}

.front-bg{
    display: inline-block;
    position: relative;
    float: right;
}

.container{
    background-color: rgb(0, 0, 0, 0.5);
    min-height: 50vh;
    z-index: 1;
}

.title {
    color: white;
    text-align: right;
    font-size: 3rem;
    font-family: "Zilla Slab",serif;
    margin-right: 8rem;
    width: 40%;
    float: right;
    padding-right: 1rem;
}

.subtitle {
    color: white;
    text-align: right;
    font-size: 1.5rem;
    float: right;
    margin-right: 9rem;
    margin-left: 65%;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.apply-button{
    color: white;
    font-weight: bold;
    background-color: #c2195b;
    font-size: 1rem;
    width: 140px;
    border-style: none;
    border-radius: 25px;
    padding: 0.75rem;
    float: right;
    margin-right: 9rem;
    cursor: pointer;
}

.intro .title-2{
    font-family: "Zilla Slab",serif;
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.intro{
    margin-top: 3rem;
    padding: 2rem;
    text-align: center;

}

.intro-description{
    margin-top:2rem;
    margin-bottom: 2rem;
    margin-left: 20%;
    margin-right: 20%;
    padding: 2rem;
    font-size: 1rem;
    text-align: justify;
    margin-bottom: 30px;
}

.pre-footer .title-2{
    font-family: "Zilla Slab", serif;
    font-size: 2.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.pre-footer {
    background-color: #f7fbfb;
    padding: 1rem;
    text-align: center;
}

.prefooter-description {
    font-size: 1rem;
   /* margin-top:2rem;*/
    margin-bottom: 2rem;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    font-size: 1rem;
    text-align: center;
}

.book-button {
    background-color: #336589;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    width: 140px;
    border-style: none;
    border-radius: 25px;
    padding: 0.75rem;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 20px;
}

footer span {
    display: inline-block;
    margin: 0 5px;
}
